.pro-2-container{
    display: flex;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
}

.first-box-container{
    display: flex;
}

.second-box-container{
    display: flex;
    justify-content: center;
}

.third-box-container{
    display: flex;
    justify-content: end;
}